body {
	background-color: #222;
	color: white;
}

.my-2 {
	background-color: #555;
}

.jumbotron {
    padding: 1em;
	background-color: #282828;
}

.title {
    font-size: 1.4em;
}

.card-header {
    background-color: blue;
}

.btn-primary {
    background-color: blue;
}
