<!Doctype html>
<html>
	<head>
		<title>Daniel Albl Portfolio</title>
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='favicon.jpg') }}">    
        <link rel='stylesheet' type='text/css' href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='home.css') }}">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width = device-width, initial-scale = 1'>
	</head>
	<body>
        <center>
            <div class='container fill'>
                <div class='jumbotron'>
                    <h1 class='display-3'>Daniel Albl</h1>
                    <hr class="my-2">
                    <h3 class='lead'>Computer Science Graduate - SD School of Mines and Technology</h3>
                    <h3 class='lead'>Software Engineer - Vivint Smart Home</h3>
                    <a class='lead' href='mailto: DanielErichAlbl@gmail.com'>DanielErichAlbl@gmail.com</a>
                    <p class='lead'>605-715-9797</p>
                </div>
                <h1>Projects</h1>
                <hr class="my-2">
                <br>
                <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                    <div class="card-header"><h3 class='title'>Chess</h3></div>
                    <div class="card-body">
                        <p class="card-text">Fullstack chess platform written in Rust allowing users to play chess online and showing engine analysis in a unique visual way.</p>
                        <br>
                        <button onclick="location.href='https://oxide-chess.fly.dev'" class='btn-primary' type='button'>Website</button>
                        <button onclick="window.open('https://github.com/OxideOps/oxide-chess')" class='btn-primary' type='button'>Github</button>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                    <div class="card-header"><h3 class='title'>Online Rubik's Cube</h3></div>
                    <div class="card-body">
                        <p class="card-text">Rubik's Cube made in THREE.js that can be moved quickly with keystrokes. It can also solve the cross (first step of solving) in the lowest number of moves.</p>
                        <button onclick="location.href='{{ url_for("rubix") }}'" class='btn-primary' type='button'>Website</button>
                        <button onclick="window.open('https://github.com/DanielAlbl/Rubix')" class='btn-primary' type='button'>Github</button>
                    </div>
                </div>
				<div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                    <div class="card-header"><h3 class='title'>Stock Growth Visualizer</h3></div>
                    <div class="card-body">
                        <p class="card-text">Displays a histogram of the growth of a stock price for a variable time interval. Information is taken from the Yahoo Finance API. Also displays some basic statistics.</p>
                        <button onclick="location.href='{{ url_for("stocks") }}'" class='btn-primary' type='button'>Website</button>
                        <button onclick="window.open('https://github.com/DanielAlbl/Stocks-Portfolio')" class='btn-primary' type='button'>Github</button>
                    </div>
                </div>
                    <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                    <div class="card-header"><h3 class='title'>Neural Network</h3></div>
                    <div class="card-body">
                        <p class="card-text">A neural network and training algorithm made completely from scratch in C++. There is also a branch for a convolution neural network.</p>
						<br>
                        <button onclick="window.open('https://github.com/DanielAlbl/NeuralNetwork')" class='btn-primary' type='button'>Github</button>
                    </div>
                </div> 
				<div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                    <div class="card-header"><h3 class='title'>Tetris</h3></div>
                    <div class="card-body">
                        <p class="card-text">A native app made in C++ and GLUT (a C++ library built on OpenGL) that replicates the classic game of tetris.</p>
						<br><br>
                        <button onclick="window.open('https://github.com/DanielAlbl/Tetris')" class='btn-primary' type='button'>Github</button>
                    </div>
                </div> 
                <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                    <div class="card-header"><h3 class='title'>Fingerprint Segmentation</h3></div>
                    <div class="card-body">
						<p class="card-text">A collection of python scripts for testing and training a deep learning model for fingerprint segmentation. Also includes data augmentation.</p>
						<br>
                        <button onclick="window.open('https://github.com/DanielAlbl/Segmentation')" class='btn-primary' type='button'>Github</button>
                    </div>
                </div> 
            </div>
        </center>
	    <script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js'></script>
	</body>
</html>

